.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    .window {
        height: 100%;
        aspect-ratio: 4 / 5;
        max-width: 100vw;
        position: relative;
        display: flex;
        flex-flow: column;
        flex: none;
        scroll-snap-align: center;

        &.callerVisualizer {
            background-color: var(--color-green-0);
        }
        
        &.caller {
            background-color: var(--color-green-1);
        }
        
        &.home {
            .callerLink, .listenerLink {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;

                .linkTitle {
                    height: 25%;
                }
            }

            .callerLink {
                width: 100%;
                height: 50%;
                background-color: var(--color-green-2);
            }

            .listenerLink {
                width: 100%;
                height: 50%;
                background-color: var(--color-green-4);
            }
        }
        
        &.listener {
            background-color: var(--color-green-5);
        }
        
        &.listenerVisualizer {
            background-color: var(--color-green-6);
        }
    }
}
